*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

:root{
    --cor-fundo: #d3d3d3;
    --cor-header: #1A1A1A;
    --cor-footer: #565454;
    --branco: #ffffff;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--cor-fundo);
}

header{
    z-index: 2;
    background-image: linear-gradient(to left, #373737, var(--cor-header));
    /*Componentes flex da tag header*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*Largura e altura do header*/
    width: 100%;
    height: 100px;
    /* prende o header no topo */
    position: fixed;
    top: 0;
    
}
    #container-logo{
        width: 240px;
    }

    #logo{
        width: 100px;
    }

    header h1{
        width: 240px;
        font-family: 'Times New Roman', Times, serif;
        color:var(--branco);
    }

    .nav-principal{
        width: 240px;
    }

    #lista-nav{
        list-style-type: none;
        display: flex;
        align-items: center;
        width:240px;
    }

        #lista-nav li{
            padding: 10px;
        }
        /*Relacionado ao link de cadastro*/
        #div-cadastro a{
            display: flex;
            align-items: center;
            border-radius: 20px;
            padding-left: 5px;
        }

        #div-cadastro p{
            color: var(--branco);
            font-size: 16px;
        }

        #div-cadastro a:hover{
            background-color: var(--cor-footer);
            transform: scale(1.02);
            transition: 0.1s; 
        }

        /*Relacionado ao link de login*/
        #div-login a{
            display: flex;
            align-items: center;
            border-radius: 20px;
            padding-left: 5px;
        }

        #div-login p{
            color: var(--branco);
            font-size: 16px;
        }

        #div-login a:hover{
            background-color: var(--cor-footer);
            transform: scale(1.02);
            transition: 0.1s; 
        }

        /*Ícone de login*/
        .icon-login{
            color: white;
            padding: 5px;
            float: right;
        }
        /*Ícone de cadastrp*/
        .icon-register{
            color: white;
            padding: 5px;
            float: right;
        }

/*
header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}
*/

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 100px;
}

    #section-filtro{
        background-color: var(--branco);
        width: 80%;
        height: 80px;
        margin: 20px 0 40px 0;
        border-radius: 40px;
    }
        #form-filtro{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;  
            height: 100%;
        }
            #container-div-select-form{
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;
            }
                .div-select-form label{
                    font-family: Helvetica;
                    font-size: 18px;
                }
                .div-select-form select{
                    background-color: var(--cor-fundo);
                    padding: 2px;
                    border:transparent;
                    border-radius: 7px;
                    font-family: Helvetica;
                    font-size: 16px;
                }

    /*Container dentro da main onde estão os cards de anúncio de carros*/
    #container-conteudo-principal{   
        display: flex;
        flex-direction: row;
        padding: 20px 0 20px 0;
        border-radius: 5px;
        gap: 2rem 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }

        .card{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: #FFFFFF;
            border-radius: 10px;
            min-width: 150px;
            max-width: 250px;
        }
            /*Div da barra superior de cor cinza*/
            .barra-superior-card{
                background-color: var(--cor-header);
                height: 10px;
                border-radius: 10px 10px 0 0;
            }
            /*Apenas o arquivo de imagem do carro*/
            .imagem-carro{
                width: 250px;
                height: 150px;
            }
            /*Div com imagem e nome do carro*/
            .carro-anunciado h1{
                padding-left: 10px;
                padding-bottom: 10px;
                font-size: 20px;
            }
            /*Div com especificações do carro*/
            .especificacoes-carro-anunciado{
                padding-bottom: 5px;
            }
            .especificacoes-carro-anunciado p{
                padding-left: 10px;
                font-size: 15px;
            }
            .especificacoes-carro-anunciado p:last-child{ /*Modifica o padding e a cor do último p da div*/
                padding-top: 5px;
                font-size: 18px;
            }

        .card:hover{
            box-shadow: 0px 4px 7px var(--cor-footer);
            transform: scale(1.01);
            transition: 0.3s; 
        }

/*------------------*/
/*----- FOOTER -----*/
/*------------------*/

footer{
    background-color: var(--cor-footer);
    width: 100%;
    text-align: center;
    color: white;
}

#div-footer-principal{
    display: flex;
    justify-content: space-around;
    min-height: 250px;
    padding-bottom: 50px;
    background-image: linear-gradient(to bottom, var(--cor-footer), var(--cor-header));
}
.campo-footer{
    display: flex;
    flex-direction: column;
    padding: 40px 20px 10px 20px;
}
    .campo-footer h2{
        font-size: 15px;
        padding-bottom: 20px;
        text-align: start;
    }
    .campo-footer li{
        padding: 10px;
        list-style-type: none;
        text-align: start;
    }
    .campo-footer a{
        text-decoration: none;
        color: var(--branco);
    }
    .campo-footer a:hover{
        border-bottom: solid 1px var(--branco);
        transition: 1s;
    }
    .campo-footer address:hover{
        border-bottom: solid 1px var(--branco);
        transition: 1s;
    }
    #lista-redes{
        display: flex;
    }
#icon-instagram, #icon-facebook, #icon-youtube{
    width: 20px;
    height: 20px;
}