*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-fundo: #FFFFFF;
    --cor-header: #343434;
    --cor-aside: #F5F5F5;
    --cor-footer: #D6D6D6;
}

body{
    background-color: var(--cor-fundo);
}

header{
    background-color: var(--cor-header);
    width: 100%;
    height: 100px;
    /* prende o header no topo */
    position: fixed;
    top: 0;
}

#container-conteudo-principal{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    padding: 0 0 20px 0;
}

aside{
    background-color: var(--cor-aside);
    width: 250px;
    height: calc(100vh - 200px);
    /* prende o aside na esquerda */
    position: fixed;
    left: 0;
}

main{
    width: calc(100% - 250px);
    height: 100vh;
    margin-left: 250px;
}

footer{
    background-color: var(--cor-footer);
    height: 200px;
}