*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

:root{
    --cor-fundo: #d3d3d3;
    --cor-header: #343434;
    --cor-footer: #565454;
    --branco: #ffffff;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--cor-fundo);
}

header{
    z-index: 2;
    background-image: linear-gradient(to left, #373737, var(--cor-header));
    /*Componentes flex da tag header*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*Largura e altura do header*/
    width: 100%;
    height: 100px;
    /* prende o header no topo */
    position: fixed;
    top: 0;
    
}

    #container-logo{
        width: 240px;
    }

    #logo{
        width: 100px;
    }

    header h1{
        width: 240px;
        font-family: 'Times New Roman', Times, serif;
        color:var(--branco);
    }

    .nav-principal{
        width: 240px;
    }

    #lista-nav{
        list-style-type: none;
        display: flex;
        align-items: center;
        width:240px;
    }

        #lista-nav li{
            padding: 10px;
        }
        /*Relacionado ao link de cadastro*/
        #div-cadastro a{
            display: flex;
            align-items: center;
            border-radius: 20px;
            padding-left: 5px;
            border: transparent;
            text-decoration: none;
        }

        #div-cadastro p{
            color: var(--branco);
            font-size: 16px;
        }

        #div-cadastro a:hover{
            background-color: var(--cor-footer);
            transform: scale(1.02);
            transition: 0.1s; 
        }

        /*Relacionado ao link de login*/
        #div-login a{
            display: flex;
            align-items: center;
            border-radius: 20px;
            padding-left: 5px;
            border: transparent;
            text-decoration: none;    
        }

        #div-login p{
            color: var(--branco);
            font-size: 16px;
        }

        #div-login a:hover{
            background-color: var(--cor-footer);
            transform: scale(1.02);
            transition: 0.1s; 
        }

        /*Ícone de login*/
        .icon-login{
            color: white;
            padding: 5px;
            float: right;
        }
        /*Ícone de cadastrp*/
        .icon-register{
            color: white;
            padding: 5px;
            float: right;
        }

main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    height: 100vh;
}

#container-formulario-login{
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

#container-imagem-h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}

#container-formulario-login h1{
    font-size: 16px;
    font-family: Helvetica;
}

#user-login{
    width: 40px;
    height: 40px;
}

#formulario-cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 5px;
}

#formulario-cadastro input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    outline: none;
    border: 0.5px solid gray;
    box-sizing: border-box;
}

#formulario-cadastro a{
    width: 100%;
    padding: 10px;
    margin: 5px;    
    border-radius: 10px;
    outline: none;
    border: 0.5px solid gray;
    box-sizing: border-box;
    font-size: 14px;
    color: gray;
    text-align: center;
    text-decoration: none;
    font-family: Helvetica;
    font-weight: bolder;
}
#formulario-cadastro a:hover{
    background-color: var(--cor-footer);
    color: var(--branco);
    transition: 0.3s;
}

.cadastro-button{
    width: 100%;
    border: none;
    padding: 10px;
    margin: 10px 0 15px 0;
    border-radius: 10px;
    outline: none;
    border: 0.5px solid gray;
    box-sizing: border-box;
    font-size: 14px;
    color: gray;
    text-align: center;
    text-decoration: none;
    font-family: Helvetica;
    font-weight: bolder;
}

.cadastro-button:hover{
    background-color: var(--cor-footer);
    color: var(--branco);
    transition: 0.3s;
}

/*------------------*/
/*----- FOOTER -----*/
/*------------------*/

footer{
    background-color: var(--cor-footer);
    width: 100%;
    text-align: center;
    color: white;
}

#div-footer-principal{
    display: flex;
    justify-content: space-around;
    min-height: 250px;
    padding-bottom: 50px;
    background-image: linear-gradient(to bottom, var(--cor-footer), var(--cor-header));
}
.campo-footer{
    display: flex;
    flex-direction: column;
    padding: 40px 20px 10px 20px;
}
    .campo-footer h2{
        font-size: 15px;
        padding-bottom: 20px;
        text-align: start;
    }
    .campo-footer li{
        padding: 10px;
        list-style-type: none;
        text-align: start;
    }
    .campo-footer a{
        text-decoration: none;
        color: var(--branco);
    }
    .campo-footer a:hover{
        border-bottom: solid 1px var(--branco);
        transition: 1s;
    }
    .campo-footer address:hover{
        border-bottom: solid 1px var(--branco);
        transition: 1s;
    }
    #lista-redes{
        display: flex;
    }
#icon-instagram, #icon-facebook, #icon-youtube{
    width: 20px;
    height: 20px;
}

@media (max-width: 1000px){
/*------------------*/
/*----- FOOTER -----*/
/*------------------*/
.campo-footer{
    padding: 40px 10px 10px 10px;
}
    .campo-footer h2{
        font-size: 14px;
    }
    .campo-footer a{
        font-size: 14px;
    } 
}

@media (max-width: 700px){
    header{
        /*Componentes flex da tag header*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /*Largura e altura do header*/
        width: 100%;
        height: 100px;
        /* prende o header no topo */
        position: fixed;
        top: 0;
        
    }
        #logo{
            display: none;
        }
    
        header h1{
            width: 240px;
            text-align: center;
        }
    
        .nav-principal{
            width: auto;
        }
    
        #lista-nav{
            width:auto;
        }
    
            #lista-nav li{
                padding: 10px;
            }
            /*Relacionado ao link de cadastro*/
            #div-cadastro a{
                display: flex;
                align-items: center;
                border-radius: 20px;
                padding-left: 5px;
                text-decoration: none;
            }
    
            #div-cadastro p{
                color: var(--branco);
                font-size: 16px;
            }
    
            #div-cadastro a:hover{
                transform: scale(1.01);
            }
    
            #div-login a:hover{
                transform: scale(1.01);
            }

/*------------------*/    
/*----- FOOTER -----*/
/*------------------*/    
#div-footer-principal{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
.campo-footer{
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-bottom: solid 1px var(--cor-fundo);
}
.campo-footer:last-of-type{
    border: none;
}
    .campo-footer h2{
        font-size: 16px;
        text-align: center;
    }
    .campo-footer li{
        text-align: center;
    }
    .campo-footer a{
        font-size: 16px;
    }
#icon-instagram, #icon-facebook, #icon-youtube{
    width: 30px;
    height: 30px;
}
}